<div class="row">
<div class="col-xs-12">
    <button class="btn btn-success">Nueva receta</button>
</div>
</div>
<hr>
<div class="row">
   <div class="col-xs-12">
       <a href="#" class="list-group-item clearfix" *ngFor="let receta of recetas">
           <div class="pull-left">
               <h4 class="list-group-item-heading">{{receta.nombre}}</h4>
               <p class="list-group-item-text">{{receta.descripcion}}</p>               
           </div>
           <span class="pull-right">
               <img 
               [src]="receta.imagePath" 
               alt="{{receta.nombre}}"
                class="img-responsive"
                style= "max-height:50px">
           </span>
       </a>
      <app-receta-elementos></app-receta-elementos>
   </div> 
</div>
