<div class="row">
<div class="col-xs-12">
<img src="" alt="" class="img-responsive">        
 </div>
 </div>
 <div class="row">
<div class="col-xs-12">
    <h1>Nombre receta</h1>
</div>
 </div>
 <div class="row">
     <div class="col-xs-12">
          <div class="btn-group">
              <button class="bnt btn-primary dropdown-toggle">Control de resetas
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                  <li><a href="#">Agregar Ingrediente</a></li>
                  <li><a href="#">Editar receta</a></li>
                  <li><a href="#">Delete receta</a></li>
              </ul>
          </div>
     </div>
 </div>
<div class="row">
    <div class="col-xs-12">
        Descripcion
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredientes
    </div>
</div>


